:root,
body.light {
--primary:#3e6a00;
--on-primary:#ffffff;
--primary-container:#b9f474;
--on-primary-container:#0f2000;
--secondary:#576249;
--on-secondary:#ffffff;
--secondary-container:#dbe7c8;
--on-secondary-container:#151e0b;
--tertiary:#386663;
--on-tertiary:#ffffff;
--tertiary-container:#bbece8;
--on-tertiary-container:#00201e;
--error:#ba1a1a;
--on-error:#ffffff;
--error-container:#ffdad6;
--on-error-container:#410002;
--background:#fdfcf5;
--on-background:#1b1c18;
--surface:#fafaf2;
--on-surface:#1b1c18;
--surface-variant:#e1e4d5;
--on-surface-variant:#44483d;
--outline:#75796c;
--outline-variant:#c5c8ba;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#30312c;
--inverse-on-surface:#f2f1e9;
--inverse-primary:#9ed75b;
--surface-dim:#dbdad3;
--surface-bright:#fafaf2;
--surface-container-lowest:#ffffff;
--surface-container-low: #fffffb;
--surface-container:#efeee7;
--surface-container-high:#e9e8e1;
--surface-container-highest:#e3e3db;

/* my custom colors */
--presentation-status-color: #380AFF;
}

html {
    background-color: #fafaf2 !important;
}

main {
    font-size: 16px !important;
    max-width: 64rem !important;
    margin: 0 0.5rem !important;
}
main.wide {
    max-width: 100% !important;
    overflow-x: scroll;
}

.presentation-card .company-logo {
    border-radius: 0;
}

a[href^="tel:"]:before {
    content: "\260e\00a0";
}
a[href^="mailto:"]:before {
    content: "\2709\00a0";
}
main a[href^="http"]::after,
main a[href^="https://"]::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.list > li > a,
.list > li > a:only-child {
    white-space: wrap;
}
.list > li > a[href^="http"],
.list > li > a[href^="https://"] {
    gap: 0;
}
.list > li {
    cursor: unset;
    padding: 0.5rem 0;
}
.p-with-icon {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}

@media all and (max-width: 600px) {
    main > article {
        scroll-margin-top: 5rem;
    }
}