---
import CommonHead from "./CommonHead.astro";
import NavRu from "../components/Nav_ru.astro";
---

<html lang="ru">
  <head>
    <CommonHead />
    <meta name="description" content="RCCT - одно из крупнейших научных событий в России, охватывающее все аспекты химической термодинамики. Конференция RCCT 2026 проводится в Екатеринбурге 6-10 июля 2026 г.">
    <meta property="og:title" content="RCCT 2026 - XXV Международная конференция по химической термодинамике в России" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:description" content="RCCT - одно из крупнейших научных событий в России, охватывающее все аспекты химической термодинамики. Конференция RCCT 2026 проводится в Екатеринбурге 6-10 июля 2026 г." />
    <title>RCCT 2026 - XXV Международная конференция по химической термодинамике в России</title>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Event",
      "eventStatus": "https://schema.org/EventRescheduled",
      "name": "RCCT 2026 - XXV Международная конференция по химической термодинамике в России",
      "organizer": {
        "@type": "Organization",
        "name": "Уральский федеральный университет",
        "url": "https://www.urfu.ru/"
      },
      "startDate": "2026-06-29",
      "endDate": "2026-07-03",
      "previousStartDate": "2026-07-06",
      "offers": [
        {
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Оргвзнос для обычных участников конференции",
          "price": "12000.00",
          "priceCurrency": "RUB"
        },{
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Оргвзнос для студентов и аспирантов",
          "price": "5000.00",
          "priceCurrency": "RUB"
        },{
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Оргвзнос для сопровождающих лиц",
          "price": "3000.00",
          "priceCurrency": "RUB"
        }
        ],
      "description": "RCCT 2026 - XXV Международная конференция по химической термодинамике в России проводится в г. Екатеринбург, 29 июня - 03 июля 2026 г. на базе Уральского федерального университета. Конференция является одним из крупнейших научных событий в России и охватывает все аспекты химической термодинамики от фундаментальных до прикладных вопросов, включая мультидисциплинарные подходы и смежные области науки.",
      "image": "https://rcct2026.ru/logos/RCCT-logo-large-ru.svg",
      "location": {
        "@type": "Place",
        "name": "Уральский федеральный университет",
        "url": "https://urfu.ru/",
        "address": {
          "@type": "PostalAddress",
          "postalCode": "620026",
          "streetAddress": "ул. Куйбышева, 48",
          "addressLocality": "Екатеринбург, Россия",
          "addressCountry": "RU"
        }
      }
    }
    </script>
  </head>
  <body class="light">
    <NavRu />
    <main class="responsive">
      <slot />
    </main>
  </body>
</html>