---
import CommonHead from "./CommonHead.astro";
import NavEn from "../components/Nav_en.astro";
---

<html lang="en">
  <head>
    <CommonHead />
    <meta name="description" content="RCCT, one of the most important scientific events in Russia, covers all aspects of chemical thermodynamics. RCCT 2026 will be held in Ekaterinburg on June 6-10, 2026.">
    <meta property="og:title" content="RCCT 2026 - XXV International Conference on Chemical Thermodynamics in Russia" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="RCCT, one of the most important scientific events in Russia, covers all aspects of chemical thermodynamics. RCCT 2026 will be held in Ekaterinburg on June 6-10, 2026." />
    <title>RCCT 2026 - XXV International Conference on Chemical Thermodynamics in Russia</title>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Event",
      "eventStatus": "https://schema.org/EventRescheduled",
      "name": "RCCT 2026 - XXV International Conference on Chemical Thermodynamics in Russia",
      "organizer": {
        "@type": "Organization",
        "name": "Ural Federal University",
        "url": "https://www.urfu.ru/en/"
      },
      "startDate": "2026-06-29",
      "endDate": "2026-07-03",
      "previousStartDate": "2026-07-06",
      "offers": [
        {
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Regular participation fee",
          "price": "12000.00",
          "priceCurrency": "RUB"
        },{
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Participation fee for students and PhD students",
          "price": "5000.00",
          "priceCurrency": "RUB"
        },{
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Participation fee for accompanying persons",
          "price": "3000.00",
          "priceCurrency": "RUB"
        }
        ],
      "description": "RCCT 2026 - XXV International Conference on Chemical Thermodynamics in Russia will be held in Ekaterinburg on June 29 - July 3, 2026 in the Ural Federal University. The conference covers all aspects of chemical thermodynamics, from fundamental to applied issues, and is one of the leading scientific events in Russia.",
      "image": "https://rcct2026.ru/logos/RCCT-logo-large-en.svg",
      "location": {
        "@type": "Place",
        "name": "Ural Federal University",
        "url": "https://urfu.ru/en",
        "address": {
          "@type": "PostalAddress",
          "postalCode": "620026",
          "streetAddress": "48 Kuybysheva st.",
          "addressLocality": "Ekaterinburg, Russia",
          "addressCountry": "RU"
        }
      }
    }
    </script>
  </head>
  <body class="light">
    <NavEn/>
    <main class="responsive">
      <slot/>
    </main>
  </body>
</html>