---
import "beercss";
import "../styles/index.css";

import NavEn from "../components/Nav_en.astro";

const thisPageURL = Astro.url.href;
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <meta name="description" content="RCCT, one of the most important scientific events in Russia, covers all aspects of chemical thermodynamics. RCCT 2026 will be held in Ekaterinburg on June 6-10, 2026.">
    <meta property="og:title" content="RCCT 2026 - XXV International Conference on Chemical Thermodynamics in Russia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={thisPageURL} />
    <meta property="og:image" content="/android-chrome-512x512.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image" content="/android-chrome-192x192.png" />
    <meta property="og:image:width" content="192" />
    <meta property="og:image:height" content="192" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:description" content="RCCT, one of the most important scientific events in Russia, covers all aspects of chemical thermodynamics. RCCT 2026 will be held in Ekaterinburg on June 6-10, 2026." />
    <meta name="theme-color" content="#ffffff" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>RCCT 2026 - XXV International Conference on Chemical Thermodynamics in Russia</title>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Event",
      "eventStatus": "https://schema.org/EventRescheduled",
      "name": "RCCT 2026 - XXV International Conference on Chemical Thermodynamics in Russia",
      "organizer": {
        "@type": "Organization",
        "name": "Ural Federal University",
        "url": "https://www.urfu.ru/en/"
      },
      "startDate": "2026-06-29",
      "endDate": "2026-07-03",
      "previousStartDate": "2026-07-06",
      "offers": [
        {
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Regular participation fee",
          "price": "12000.00",
          "priceCurrency": "RUB"
        },{
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Participation fee for students and PhD students",
          "price": "5000.00",
          "priceCurrency": "RUB"
        },{
          "@type": "Offer",
          "availability": "https://schema.org/InStock",
          "validFrom": "2025-09-03T23:59:59",
          "validThrough": "2026-04-30T23:59:59",
          "description": "Participation fee for accompanying persons",
          "price": "3000.00",
          "priceCurrency": "RUB"
        }
        ],
      "description": "RCCT 2026 - XXV International Conference on Chemical Thermodynamics in Russia will be held in Ekaterinburg on June 29 - July 3, 2026 in the Ural Federal University. The conference covers all aspects of chemical thermodynamics, from fundamental to applied issues, and is one of the leading scientific events in Russia.",
      "image": "https://rcct2026.ru/logos/RCCT-logo-large-en.svg",
      "location": {
        "@type": "Place",
        "name": "Ural Federal University",
        "url": "https://urfu.ru/en",
        "address": {
          "@type": "PostalAddress",
          "postalCode": "620026",
          "streetAddress": "48 Kuybysheva st.",
          "addressLocality": "Ekaterinburg, Russia",
          "addressCountry": "RU"
        }
      }
    }
    </script>
    <script>
      import cssHasPseudo from 'css-has-pseudo/browser';
      cssHasPseudo(document);
    </script>
    <script src="/src/pwa.js"></script>
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
  </head>
  <body class="light">
    <NavEn/>
    <main class="responsive">
      <slot/>
    </main>
  </body>
</html>