---
import { getAbsoluteLocaleUrl } from 'astro:i18n';

function url(lang: string, href: string) {
  let url = getAbsoluteLocaleUrl(lang, href);
  return (url.includes('#') && url.endsWith('/')) ? url.slice(0, -1) : url;
}
---

<nav class="left max l">
  <header>
    <nav>
      <img src="/logos/RCCT-logo-small-en.svg" class="circle extra">
      <h6>RCCT 2026</h6>
    </nav>
  </header>
  <a href={url('en', '#info')}>
    <i>help</i>
    <div>Info</div>
  </a>
  <a href={url('en', '#news')}>
    <i>breaking_news</i>
    <div>News</div>
  </a>
  <a href={url('en', '#dates')}>
    <i>calendar_month</i>
    <div>Dates</div>
  </a>
  <a href={url('en', '#participate')}>
    <i>person_raised_hand</i>
    <div>Participate!</div>
  </a>
  <a href={url('en', '#sections')}>
    <i>checklist</i>
    <div>Sections</div>
  </a>
  <a href={url('en', '#hotels')}>
    <i>hotel</i>
    <div>Hotels</div>
  </a>
  <a href={url('en', '#sponsors')}>
    <i>loyalty</i>
    <div>Sponsors</div>
  </a>
  <a href={url('en', '#committees')}>
    <i>diversity_3</i>
    <div>Committees</div>
  </a>
  <a href={url('en', '#contacts')}>
    <i>chat</i>
    <div>Contacts</div>
  </a>
  <a href={url('ru', '')}>
    <i>language</i>
    <div>По-русски</div>
  </a>
</nav>

<nav class="left m">
  <header>
    <img src="/logos/RCCT-logo-small-en.svg" class="circle extra">
  </header>
  <a href={url('en', '#info')}>
    <i>help</i>
    <div>Info</div>
  </a>
  <a href={url('en', '#news')}>
    <i>breaking_news</i>
    <div>News</div>
  </a>
  <a href={url('en', '#dates')}>
    <i>calendar_month</i>
    <div>Dates</div>
  </a>
  <a href={url('en', '#participate')}>
    <i>person_raised_hand</i>
    <div>Participate!</div>
  </a>
  <a href={url('en', '#sections')}>
    <i>checklist</i>
    <div>Sections</div>
  </a>
  <a href={url('en', '#hotels')}>
    <i>hotel</i>
    <div>Hotels</div>
  </a>
  <a href={url('en', '#sponsors')}>
    <i>loyalty</i>
    <div>Sponsors</div>
  </a>
  <a href={url('en', '#committees')}>
    <i>diversity_3</i>
    <div>Committees</div>
  </a>
  <a href={url('en', '#contacts')}>
    <i>chat</i>
    <div>Contacts</div>
  </a>
  <a href={url('ru', '')}>
    <i>language</i>
    <div>По-русски</div>
  </a>
</nav>

<nav class="top s">
  <header>
    <img src="/logos/RCCT-logo-small-en.svg" class="circle extra">
  </header>
  <button class="transparent large" onclick="document.querySelector('#small-screen-menu').showModal()">
    <i>menu</i>
    <div>Menu</div>
  </button>
</nav>

<dialog id="small-screen-menu" class="right small modal">
<header>
  <nav>
    <h6 class="max">Navigation</h6>
    <button class="transparent circle large" onclick="document.querySelector('#small-screen-menu').close()">
      <i>close</i>
    </button>
  </nav>
</header>
<div class="space"></div>
<ul class="list">
  <li class="wave round">
    <a href={url('en', '#info')}>
      <i>help</i>
      <div>Info</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', '#news')}>
      <i>breaking_news</i>
      <div>News</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', '#dates')}>
      <i>calendar_month</i>
      <div>Dates</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', '#participate')}>
      <i>person_raised_hand</i>
      <div>Participate!</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', '#sections')}>
      <i>checklist</i>
      <div>Sections</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', '#hotels')}>
      <i>hotel</i>
      <div>Hotels</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', '#sponsors')}>
      <i>loyalty</i>
      <div>Sponsors</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', '#committees')}>
      <i>diversity_3</i>
      <div>Committees</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', '#contacts')}>
      <i>chat</i>
      <div>Contacts</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '')}>
      <i>language</i>
      <div>По-русски</div>
    </a>
  </li>
</ul>
</dialog>

<script is:inline>
  const smallScreenMenuLinks = document.querySelectorAll('#small-screen-menu a');
  smallScreenMenuLinks.forEach((a) => a.addEventListener('click', () => {
    document.querySelector('#small-screen-menu').close();
  }));
</script>

<style>
  nav.left {
    overflow-y: scroll;
  }
  nav.left header {
    margin-bottom: 0;
  }
</style>