---
import { getAbsoluteLocaleUrl } from 'astro:i18n';

function url(lang: string, href: string) {
  let url = getAbsoluteLocaleUrl(lang, href);
  return (url.includes('#') && url.endsWith('/')) ? url.slice(0, -1) : url;
}
---

<nav class="left max l">
  <header>
    <nav>
      <img src="/logos/RCCT-logo-small-en.svg" class="circle extra">
      <h6>RCCT 2026</h6>
    </nav>
  </header>
  <a href={url('ru', '#info')}>
    <i>help</i>
    <div>Информация</div>
  </a>
  <a href={url('ru', '#news')}>
    <i>breaking_news</i>
    <div>Новости</div>
  </a>
  <a href={url('ru', '#dates')}>
    <i>calendar_month</i>
    <div>Основные даты</div>
  </a>
  <a href={url('ru', '#participate')}>
    <i>person_raised_hand</i>
    <div>Участвовать!</div>
  </a>
  <a href={url('ru', '#sections')}>
    <i>checklist</i>
    <div>Секции</div>
  </a>
  <a href={url('ru', 'key_lectures')}>
    <i>key</i>
    <div>Ключевые доклады</div>
  </a>
  <a href={url('ru', '#hotels')}>
    <i>hotel</i>
    <div>Гостиницы</div>
  </a>
  <a href={url('ru', '#sponsors')}>
    <i>loyalty</i>
    <div>Спонсоры</div>
  </a>
  <a href={url('ru', '#committees')}>
    <i>diversity_3</i>
    <div>Комитеты</div>
  </a>
  <a href={url('ru', '#contacts')}>
    <i>chat</i>
    <div>Контакты</div>
  </a>
  <a href={url('en', Astro.url.pathname)}>
    <i>language</i>
    <div>In English</div>
  </a>
</nav>

<nav class="left m">
  <header>
    <img src="/logos/RCCT-logo-small-en.svg" class="circle extra">
  </header>
  <a href={url('ru', '#info')}>
    <i>help</i>
    <div>Информация</div>
  </a>
  <a href={url('ru', '#news')}>
    <i>breaking_news</i>
    <div>Новости</div>
  </a>
  <a href={url('ru', '#dates')}>
    <i>calendar_month</i>
    <div>Основные даты</div>
  </a>
  <a href={url('ru', '#participate')}>
    <i>person_raised_hand</i>
    <div>Участвовать!</div>
  </a>
  <a href={url('ru', '#sections')}>
    <i>checklist</i>
    <div>Секции</div>
  </a>
  <a href={url('ru', 'key_lectures')}>
    <i>key</i>
    <div>Ключевые доклады</div>
  </a>
  <a href={url('ru', '#hotels')}>
    <i>hotel</i>
    <div>Гостиницы</div>
  </a>
  <a href={url('ru', '#sponsors')}>
    <i>loyalty</i>
    <div>Спонсоры</div>
  </a>
  <a href={url('ru', '#committees')}>
    <i>diversity_3</i>
    <div>Комитеты</div>
  </a>
  <a href={url('ru', '#contacts')}>
    <i>chat</i>
    <div>Контакты</div>
  </a>
  <a href={url('en', Astro.url.pathname)}>
    <i>language</i>
    <div>In English</div>
  </a>
</nav>

<nav class="top s">
  <header>
    <img src="/logos/RCCT-logo-small-en.svg" class="circle extra">
  </header>
  <button class="transparent large" onclick="document.querySelector('#small-screen-menu').showModal()">
    <i>menu</i>
    <div>Меню</div>
  </button>
</nav>

<dialog id="small-screen-menu" class="right small modal">
<header>
  <nav>
    <h6 class="max">Разделы</h6>
    <button class="transparent circle large" onclick="document.querySelector('#small-screen-menu').close()">
      <i>close</i>
    </button>
  </nav>
</header>
<div class="space"></div>
<ul class="list">
  <li class="wave round">
    <a href={url('ru', '#info')}>
      <i>help</i>
      <div>Информация</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '#news')}>
      <i>breaking_news</i>
      <div>Новости</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '#dates')}>
      <i>calendar_month</i>
      <div>Основные даты</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '#participate')}>
      <i>person_raised_hand</i>
      <div>Участвовать!</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '#sections')}>
      <i>checklist</i>
      <div>Секции</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', 'key_lectures')}>
      <i>key</i>
      <div>Ключевые доклады</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '#hotels')}>
      <i>hotel</i>
      <div>Гостиницы</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '#sponsors')}>
      <i>loyalty</i>
      <div>Спонсоры</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '#committees')}>
      <i>diversity_3</i>
      <div>Комитеты</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('ru', '#contacts')}>
      <i>chat</i>
      <div>Контакты</div>
    </a>
  </li>
  <li class="wave round">
    <a href={url('en', Astro.url.pathname)}>
      <i>language</i>
      <div>In English</div>
    </a>
  </li>
</ul>
</dialog>

<script is:inline>
  const smallScreenMenuLinks = document.querySelectorAll('#small-screen-menu a');
  smallScreenMenuLinks.forEach((a) => a.addEventListener('click', () => {
    document.querySelector('#small-screen-menu').close();
  }));
</script>

<style>
  nav.left {
    overflow-y: auto;
  }
  nav.left header {
    margin-bottom: 0;
  }
</style>